@tailwind base;
@tailwind components;
@tailwind utilities;


html.light {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  html.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .video-container {
    text-align: center;
    margin: 20px auto;
  }
  
  video {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  